<form action="/" method="post">
  <input type="text" placeholder="My Favorite Food" name="food_name">
  <input type="submit" value="Add Food">
</form>
<hr>
<ul>
  <% foods.each do |food| %>
    <li><%= food[:name] %></li>
  <% end %>
</ul>
